body {
    background-color: #0047B3;
    position: relative;
    top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: Poppins;
}

header {
    color: white;
}

span.title-text {
    position: relative;
    bottom: 10px;
    font-weight: 700;
    font-size: 35px;
}

.text {
    font-weight: 400;
    font-size: 18px;
}

.otp-section {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 16px;
    justify-items: center;
    background-color: white;
}

.verify-text {
    font-weight: 400;
    font-size: 25px;
    opacity: 80%;
}

.verify-code {
    font-weight: 600;
    font-size: 35px;
    opacity: 80%;
    letter-spacing: 10px;
}

.alternative {
    margin-top: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 16px;
    justify-items: center;
    background-color: white;
    font-family: Roboto;
}

.alternative-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

span.alternative-link {
    text-align: justify;
    justify-content: center;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: #1A90D9;
}

.reminder {
    text-align: center;
    justify-content: center;
}

hr {
    margin-top: 60px;
    margin-bottom: 60px;
    stroke-width: 0.60px;
    background-color: #E2E2E2;
}

footer {
    justify-items: center;
}

.logo {
    margin-bottom: 25px;
}

.social-media {
    padding-inline: 20px;
}